@tailwind base;
@tailwind components;
@tailwind utilities;

.blurred-border::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid transparent;
    border-radius: inherit;
    backdrop-filter: blur(5px);
    z-index: -1;
  }

